* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #795757;
}

#navbar-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #3b3030;
    color: #fff0d1;
    padding: 10px;
}

.link {
    color: #fff0d1;
    text-decoration: none;
}

.link:hover {
    filter: brightness(90%);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 67, 67, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup {
    background-color: #3b3030;
    color: #fff0d1;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup .input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popup button {
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.popup button svg {
    max-width: 100%;
    max-height: 100%;
    width: 15px;
    height: 15px;
}

.popup input {
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

main #hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#hero .image-container {
    height: 100vh;
    z-index: -1;
    width: 100%;
    display: block;
}

#hero .image-container img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero .hero-text {
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: center;
    color: #fff0d1;
}

#hero .hero-text h2:first-child {
    color: #664343;
    font-weight: 900;
    font-size: 40px;
}

#hero .hero-text h2 {
    font-size: 32px;
}

#hero .hero-text p {
    font-size: 18px;
}
