* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #795757;
}

#navbar-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #3b3030;
    color: #fff0d1;
    padding: 10px;
}

.link {
    color: #fff0d1;
    text-decoration: none;
}

.link:hover {
    filter: brightness(90%);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 67, 67, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup {
    background-color: #3b3030;
    color: #fff0d1;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup .input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.popup button {
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.popup button svg {
    max-width: 100%;
    max-height: 100%;
    width: 15px;
    height: 15px;
}

.popup input {
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

main #hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#hero .image-container {
    height: 100vh;
    z-index: -1;
    width: 100%;
    display: block;
}

#hero .image-container img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero .hero-text {
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: center;
    color: #fff0d1;
}

#hero .hero-text h2:first-child {
    color: #664343;
    font-weight: 900;
    font-size: 40px;
}

#hero .hero-text h2 {
    font-size: 32px;
}

#hero .hero-text p {
    font-size: 18px;
}

#drink-stats {
    display: flex;
}

#coffee-tracker {
    background-color: #fff0d1;
    color: #3b3030;
    width: 20%;
    display: flex;
    overflow: hidden;
}

#coffee-tracker h2 {
    padding: 10px;
}

#coffee-slider {
    transform: rotate(270deg);
    accent-color: #3b3030;
    max-width: 100%;
    max-height: 100%;
}

#coffee-tracker .word {
    display: block;
}

#drink-summary {
    width: 80%;
    color: #fff0d1;
    font-size: clamp(20px, 3vw, 30px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#cups-drunk {
    color: #3b3030;
}

/* The blog page styles */

#post-editor {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff0d1;
    background-image: url("../images/coffee.jpg");
    background-position: center;
    background-size: cover;
    background-color: #3b3030;
    border-radius: 20px;
    padding: 20px;
}

#post-editor form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-height: 200px;
    max-width: 400px;
    border: 3px solid #3b3030;
    padding: 10px;
    border-radius: 10px;
}

#post-editor #title-input {
    background-color: #fff0d1;
    color: #3b3030;
    border: none;
    padding: 5px;
    max-width: 100%;
}

#post-editor #content-input {
    background-color: #fff0d1;
    color: #3b3030;
    border: none;
    padding: 5px;
    height: 200px;
}

#post-editor form button {
    border: none;
    background-color: #795757;
    color: #fff0d1;
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
}

#post-editor form button:hover {
    filter: brightness(90%);
}

#post-editor h2 {
    font-size: 30px;
    color: #795757;
    margin-bottom: 20px;
}

#blog-posts {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    padding: 50px;
}

.blog-post {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
}

.blog-post h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.light-coffee {
    background-color: #fff0d1;
    color: #3b3030;
}

.dark-coffee {
    background-color: #3b3030;
    color: #fff0d1;
}

.post-info {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.toggle-post {
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
}

.post-content {
    margin-top: 20px;
}

@media (max-width: 600px) {
    .blog-post {
        padding: 10px;
    }
    #coffee-tracker {
        width: 80%;
    }
    #drink-summary h2 {
        margin-left: 10px;
    }
}
